@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-Black.eot');
  	src: url('../fonts/Exo2-Black?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-Black.woff') format('woff'),
  	url('../fonts/Exo2-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-ExtraBold.eot');
  	src: url('../fonts/Exo2-ExtraBold?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-ExtraBold.woff') format('woff'),
  	url('../fonts/Exo2-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-Bold.eot');
  	src: url('../fonts/Exo2-Bold?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-Bold.woff') format('woff'),
  	url('../fonts/Exo2-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-SemiBold.eot');
  	src: url('../fonts/Exo2-SemiBold?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-SemiBold.woff') format('woff'),
  	url('../fonts/Exo2-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-Medium.eot');
  	src: url('../fonts/Exo2-Medium?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-Medium.woff') format('woff'),
  	url('../fonts/Exo2-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-Regular.eot');
  	src: url('../fonts/Exo2-Regular?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-Regular.woff') format('woff'),
  	url('../fonts/Exo2-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2-Light.eot');
  src: url('../fonts/Exo2-Light?#iefix') format('embedded opentype'),
  url('../fonts/Exo2-Light.woff') format('woff'),
  url('../fonts/Exo2-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2-ExtraLight.eot');
  	src: url('../fonts/Exo2-ExtraLight?#iefix') format('embedded opentype'),
  	url('../fonts/Exo2-ExtraLight.woff') format('woff'),
  	url('../fonts/Exo2-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2-Thin.eot');
  src: url('../fonts/Exo2-Thin?#iefix') format('embedded opentype'),
  url('../fonts/Exo2-Thin.woff') format('woff'),
  url('../fonts/Exo2-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}